<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thông tin: [user_id: <%=@user_id%>, email: <%= @email%>, tên: <%=@name%> ] </p>
    <p>Nội dung:</p>
    <p><%=@content%></p>
  </body>
</html>
