.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_bottom_50{
  margin-bottom: 50px;
}
.margin_left_10{
  margin-left: 10px;
}

.text-strong{
  font-weight: bold;
}
.picture_center{
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 220px;
}
.picture_small{
  display: block;
  margin: 0 auto;
  height: 50px;
}
#map {
  width: 500px;
  height: 400px;
  background-color: grey;
      }
.box_restaurant_index{
  min-height: 310px;
}
.box_foods_index{
  padding-top: 10px;
  min-height: 340px;
}
.picture_small{
  min-height: 50px;
}
/*body {
  background-color: #f5f5f5;
}*/

.post-item{
   position: relative;
}
.option{
  position: absolute;
  right: 0px;
  top:0px;
}
