
body {
  background-image: url('/assets/background2.jpg');
  background-attachment: fixed;
  background-size: 100% 100%;
}
body > .container{
  margin-top: 60px;
}
.navbar-header > .logo{
  float: left;
}
.logo{
  width:50px !important;
  height: 50px !important;
}
.logo img{
  width: 100%;
  height: 100%;
  display: block;

}

/*#contact{
  background: url('/assets/contact-bg.jpg');
  color: #fff;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: block;
}*/
#contact {
  font-size: 18px;
}
footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.btn-group{
  padding-top: 50px;
}
.navbar {
  min-height: auto;
  margin-bottom: 0px;
  /*background-color: #2d2d30;*/
}
h1{
  margin-top:50px;
  color: #a94442;
}
.margin_bottom_10 {
  margin-bottom: 10px;
}
.margin_bottom_20{
  margin-bottom: 20px;
}
.margin_bottom_50{
  margin-bottom: 50px;
}
.margin_left_10{
  margin-left: 10px;
}
.margin_top_70{
  margin-top: 70px;
}
.margin_top_20{
  margin-top: 20px;
}
.margin_top_10{
  margin-top: 10px;
}
.text-strong{
  font-weight: bold;
}
.picture_list_foods{
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}
.picture_center{
  display: block;
  margin: 0 auto;
  width: 320px;
  height: 220px;
}
.picture_small{
  display: block;
  margin: 0 auto;
  height: 50px;
}
#map {
  width: 500px;
  height: 400px;
  background-color: grey;
      }
.box_restaurant_index{
  min-height: 450px;
  /*border-radius: 5px;*/
}
.box_restaurants > .col-md-4{
  background-color: transparent;
}
/*dashboard*/
.box-restaurants{
  background-color: white;
}
.cart, .reviews{
  background-color: #ffffff;
  border-top: 10px solid #f5f5f5;
  padding-bottom: 10px;
}
.box_foods_index{
  padding-top: 10px;
  min-height: 200px;
}
/*dashboard*/
.box-foods{
  background-color: white;
}
.picture_small{
  min-height: 50px;
}
.avatar_post{
  height: 40px;
  width: 40px;
}
.avatar_picture{
  height: 30px;
  width: 30px;
}
.avatar_reply{
  height: 23px;
  width: 23px;
}
/*avatar circle*/
.avatar_picture , .avatar_reply, .avatar_post{

  margin-top: -7px;
  /*vertical-align: top;*/
  age is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');
    /* make a square container */

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;
    /* center the image vertically and horizontally */
    background-position: center;
    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;
}

/*sidebar*/

.mini-submenu{
  display:none;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.9);
  border-radius: 4px;
  padding: 9px;
  width: 42px;

}

.mini-submenu:hover{
  cursor: pointer;
}

.mini-submenu .icon-bar {
  border-radius: 1px;
  display: block;
  height: 2px;
  width: 22px;
  margin-top: 3px;
}

.mini-submenu .icon-bar {
  background-color: #000;
}

#slide-submenu{
  background: rgba(0, 0, 0, 0.45);
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
body,html{
    /*height: 100%;*/
  }
.sidebar{
    margin-top: 10px;
    position: fixed;
    z-index: 5000;

}
  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }


/*sidebar*/
body{
  background-color: #f5f5f5;
  /*margin-top: 30px;*/
}

body .background_content{
   background-color: #ffffff;
   padding-right: 0px;
}
/*admin*/
.box-user{
  background-color: white;
}
.background_content{
  border: 10px solid #f5f5f5;
}

.post-item{
   position: relative;
   background-color: #ffffff;
  /*border: 10px solid #f5f5f5;*/
   padding: 10px;
   margin-bottom: 10px;
}
.view-like {
  margin-top: 10px;
}
.form-comment img, .form-comment form{
  margin-top: auto;
  margin-right: 5px;
  float: left;
}

.new-reply-comment {
  padding-to: 10px;
  margin-top: 10px;
  padding-left:25px;
}
.new-reply-comment input{
  height: 25px;
  width:auto;
}
.new-reply-comment img, .new-reply-comment input{
  margin-top: auto;
  margin-right: 5px;
  float: left;
}
.option{
  position: absolute;
  right: 0px;
  top:0px;
}

.box_foods_index, .box_restaurant_index{
  background-color: #ffffff;
  padding: 10px;
  border: 10px solid #f5f5f5;
  margin-bottom: 10px;
}
.box-post .post-content{
  max-width: 300px;
}
/*dashboard*/
.box-post{
  background-color: white;
}
.icon-plus, .icon-minus{
  font-size: 70%;
}
.icon-plus{
  background-color: green;
  color: white;
  border: 1px solid green;
}
.icon-minus{
  background-color: black;
  color: white;
  border: 1px solid black;
}
.quantiy{
  color: red;
}
.search-big{
  /*font-size: 200%;*/
  height:40px;
  padding :10px;
  /*border: 1px solid #a2a2a2;
  border-radius: 2px;*/
}
.btn-delete{
  text-align: right;
}

/*.big-star > .star-rating > img{
  width:20px;
  height: 20px;
}*/

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}


/********************************/
/*       Slides backgrounds     */
/********************************/
.button-index{
  padding-top: 20px;
}
.button-index a{
  background: transparent;
  padding: 10px 30px;
  border: 1px solid #e0e0d1;
  color: white;
}
.button-index a:hover{
  background-color: #f7ca18;
}
#myCarousel .item.active p, #myCarousel .item.active h1{
  font-size: 60px;
  color: yellow;
  padding-bottom: 20px;
}
#myCarousel .item.active span{
  color: white;
  font-size: 18px;
  padding-bottom: 150px;
}
#myCarousel .item{
  max-height:700px;
}
.carousel-inner img {
    width: 100%;
    margin: auto;
}
.carousel-caption{
  bottom:300px;
}
.carousel-caption  {

  }
   /*h3 {
    color: #fff !important;

}*/
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}


/*nav*/
#navbar_primary .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    /*font-size: 11px !important;*/
    letter-spacing: 1px;
    opacity: 0.9;
}
#navbar_primary .navbar-header{
  font-size: 20px !important;
}
#navbar_primary .navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}
#navbar_primary .navbar-nav li a:hover {
    color: #fff !important;
}
#navbar_primary .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}
#navbar_primary .navbar-default .navbar-toggle {
    border-color: transparent;
}
#navbar_primary .dropdown-menu li{
  min-width: 265px;
}
#navbar_primary .dropdown-menu li a {
    color: #000 !important;
    /*font-size: 11px !important;*/
}
#navbar_primary .dropdown-menu li a:hover {
    background-color: black !important;
}
